### Java ###
*.class
*.log
*.jar
*.war

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Gradle (Agar use kar raha hai) ###
.gradle
build/

### IDEs (VS Code, IntelliJ, Eclipse) ###
.idea/
*.iml
*.iws
.vscode/
.classpath
.project
.settings/
bin/
.gitignore

### OS specific ###
.DS_Store
Thumbs.db

### Secrets & Local Config (Tera asli bachaaw) ###
.env
*.env
application-secret.properties
application-secret.yml
application-local.properties